@use "typography" as t;
@use "colors" as c;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  text-align: center;
  max-width: 100%;
  width: 800px;
  font-size: clamp(t.$font-size-sm, 2vw, t.$font-size-xl);
}
