@use "typography" as t;
@use "colors" as c;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  width: 800px;
  font-size: clamp(t.$font-size-md, 2vw, t.$font-size-xl);
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
