@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

$font-family: "Nerko One", cursive;
$font-weight-light: 400;
$font-weight-bold: 700;
$letter-spacing-normal: 2px;
$font-size-sm: 0.8rem;
$font-size-md: 1rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.8rem;
