$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
$primary-color: #709933;
$secondary-color: #a7c957;
$teriary-color: #9b7a45;
$white: #fffffa;
$black: #000;
$moss-green: #7b904b;
$dark-green: #627f2d;
