@use "index" as i;

:root {
  --tree-color: #627f2d;
}

.content {
  &__page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 1fr;
  }
  &__title {
    color: brown;
    grid-column: span 2;
  }
  &__btn {
    @include i.btn;
  }
  &__btn:read-only {
    cursor: pointer;
  }
  &__form_row {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    column-gap: 4rem;
    row-gap: 0.5rem;
    margin-bottom: 4rem;
    opacity: 0;
    animation: fadeInBtn 1s ease-in-out forwards;
    position: relative;
    left: -20%;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__form_row--label {
    grid-column: span 2;
  }
}
.logout__btn {
  position: absolute;
  top: calc(2rem + 50px);
  right: 0;
  transform: translateX(-10%);
  @include i.btn($scale: 1.05, $translateX: -10%);
}
.tree {
  &__color {
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
  }
  &__height {
    margin-top: 1rem;
    max-width: 35ch;
    text-align: left;
    font-size: clamp(i.$font-size-md, 2.2vw, i.$font-size-xl);
  }
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  bottom: -10%;
  animation: fadeInImg 1s ease-in-out forwards;
  overflow: hidden;
}

@keyframes fadeInBtn {
  0% {
    opacity: 0;
    left: -20%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInImg {
  0% {
    opacity: 0;
    bottom: -10%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes fadeInTree {
  0% {
    right: -20%;
  }
  100% {
    right: 0;
  }
}

@for $n from 1 through 6 {
  #needles#{$n} {
    fill: var(--tree-color);
  }
}
@for $l from 1 through 10 {
  #leaf#{$l} {
    fill: var(--tree-color);
  }
}

:export {
  treeColor: var(--tree-color);
}
