@use "index" as i;

:root {
  --tree-color: #627f2d;
  --opacity: 0;
}

.content {
  &__page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 1fr;
  }
  &__title {
    grid-column: span 2;
  }
  &__btn {
    @include i.btn;
  }
  &__btn:read-only {
    cursor: pointer;
  }
  &__form_row {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 0.5rem;
    margin-bottom: 4rem;
    opacity: 0;
    animation: fadeInBtn 1s ease-in-out forwards;
    position: relative;
    left: -20%;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__form_row--label {
    grid-column: span 2;
  }
}
.logout__btn {
  position: absolute;
  top: calc(2rem + 50px);
  right: 0;
  transform: translateX(-10%);
  @include i.btn($scale: 1.05, $translateX: -10%);
}
.tree {
  &__info {
    margin-top: 1rem;
    width: 15rem;
    text-align: center;
    font-size: clamp(i.$font-size-md, 2.2vw, i.$font-size-xl);
  }
  &__color,
  &__render_color,
  &__trunk {
    grid-column: span 2;
    width: 100%;
    height: 100%;
  }
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  bottom: -10%;
  animation: fadeInMain 1s ease-in-out forwards;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__par_wrapper {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    position: relative;
    animation: fadeInMain 0.5s ease-in-out forwards;
  }
}

@keyframes fadeInBtn {
  0% {
    opacity: 0;
    left: -20%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInMain {
  0% {
    opacity: 0;
    bottom: -10%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes fadeInTree {
  0% {
    right: -20%;
  }
  100% {
    right: 0;
  }
}

@for $n from 1 through 7 {
  #needles#{$n} {
    fill: var(--tree-color);
    opacity: var(--opacity);
    transition: all 0.3s;
  }
}
@for $l from 1 through 10 {
  #leaf#{$l} {
    fill: var(--tree-color);
    opacity: var(--opacity);
    transition: all 0.3s;
  }
}

.tree_outline {
  opacity: var(--opacity);
  transition: all 0.3s;
}
.trunk {
  opacity: var(--opacity);
  transition: all 0.3s;
}

:export {
  treeColor: var(--tree-color);
}
