@use "_variables" as i;
@use "handleLanguage";

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/background.jpg"), i.$white;
  background-size: cover;
  backdrop-filter: blur(1.5px);
  position: relative;
}
img {
  max-width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.login__btn {
  margin-top: 0.5rem;
}
.form__row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.container {
  text-align: center;
  max-width: 100%;
  width: 800px;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.btn {
  font-family: inherit;
  background-color: i.$primary-color;
  color: i.$black;
  border: 2px solid i.$primary-color;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border: 2px solid i.$dark-green;
    background-color: i.$secondary-color;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 0;
  }
}
